body
{
    background: #8E0E00;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #1F1C18, #8E0E00);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #1F1C18, #8E0E00); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */    
}

input:focus, textarea:focus
{
    outline: none;
}

.new-title
{
    text-align: center;
    font-size: 45px;
    padding-top: 30px;
    color: white;
}

.input-form
{
    background: #16222A;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #3A6073, #16222A);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #3A6073, #16222A); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    width: 750px;
    height: 375px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    border-radius: 16px;
    padding-top: 50px;
}

.messageUser
{
    color: #778899;
    padding: 15px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 16px;
    border: none;
    text-align: center;
}

.msg-label
{
    margin-top: 25px;
    text-align: center;
    font-size: 20px;
    color: #FFDEAD;
}

.messageText
{
    color: #778899;
    padding: 15px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 16px;
    border: none;
    width: 500px;
    height: 100px;
}

.input-button
{
    display:block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 35px;
    color: #D3D3D3;
    background-color: transparent;
    border: 1.5px solid #D3D3D3;
    padding: 15px;
    font-size: 20px;
    cursor: pointer;
}

.input-button:hover
{
    color: #FFDAB9;
    border: 1.5px solid #FFDAB9;
}